[Unit]
Description=Linux Malware Detect monitoring - maldet
After=network.target

[Service]
EnvironmentFile=/etc/maldetect/maldetect.conf
ExecStart=/usr/bin/maldet --monitor $default_monitor_mode
ExecStop=/usr/bin/maldet --kill-monitor
Type=forking
PIDFile=/tmp/maldetect/inotifywait.pid
[Install]
WantedBy=multi-user.target
