#
# Linux Malware Detect v2.0.1
#             (C) 2002-2026, R-fx Networks <proj@rfxn.com>
#             (C) 2026, Ryan MacDonald <ryan@rfxn.com>
# This program may be freely redistributed under the terms of the GNU GPL v2
#
[Unit]
Description=Linux Malware Detect monitoring - maldet
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/maldet
EnvironmentFile=-/etc/default/maldet
ExecStart=/usr/local/maldetect/maldet --monitor ${MONITOR_MODE:-users}
ExecStop=/usr/local/maldetect/maldet --kill-monitor
Type=forking
PIDFile=/usr/local/maldetect/tmp/monitor.pid

[Install]
WantedBy=multi-user.target
