[Unit]
Description=Linux Malware Detect monitoring - maldet
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/maldet
EnvironmentFile=-/etc/default/maldet
ExecStart=/usr/local/maldetect/maldet --monitor ${MONITOR_MODE:-users}
ExecStop=/usr/local/maldetect/maldet --kill-monitor
Type=forking
PIDFile=/usr/local/maldetect/tmp/monitor.pid

[Install]
WantedBy=multi-user.target
